header {
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 100%;
}
